body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(#353c44, #222931);
}
.column {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.idk {
  color: grey;
  font-size: 1.7vw;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.lologo {
  height: 200px;
  width: 360px;
}
.board {
  font-family: Arial, Helvetica, sans-serif;
  height: 55.5vh;
  width: 38vw;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10vh;
}
.leaderboard {
  height: 50vh;
  width: 38vw;
  background: radial-gradient(#353c44, #222931);
  border-radius: 0px 0px 8px 8px;
  word-wrap: break-word;
  overflow: scroll;
}
.cololumn {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  font-size: 1.5vw;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 2vw;
  margin-top: 2vh;
}
.TenOfTen {
  color: #fff;
  font-size: 1.5vw;
}
.name {
  font-size: 1.5vw;
  color: lightgoldenrodyellow;
  width: 100%;
  margin-left: 3vw;
}
.score {
  font-size: 1.5vw;
  color: lightgoldenrodyellow;
}
.row:nth-child(1) .name {
  color: #fdd017;
}
.row:nth-child(1) .score {
  color: #fdd017;
}
.row:nth-child(2) .name {
  color: #c0c0c0;
}
.row:nth-child(2) .score {
  color: #c0c0c0;
}
.row:nth-child(3) .name {
  color: #c9ae5d;
}
.row:nth-child(3) .score {
  color: #c9ae5d;
}
#loader {
  color: white;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
  0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  }
  @keyframes load6 {
  0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  }
  @-webkit-keyframes round {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
  }
  @keyframes round {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
  }