body {
  margin: 0;
  background-image:url("https://firebasestorage.googleapis.com/v0/b/higherlowergame-176e9.appspot.com/o/bg%2FHome_page_2.png?alt=media&token=0a479541-9284-46aa-a293-a1bf58343514");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row1 {
  display: flex;
  flex-direction: row;
}
#login_password {
  width: 24vw;
  height: 6vh;
  margin-top: 4vh;
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(239, 240, 246, 1);
  font-size: 1vw;
  /* padding: 14px 20px; */
  padding: 0px 1vw;
}
#login_email {
  width: 24vw;
  height: 6vh;
  margin-top: 4vh;
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(239, 240, 246, 1);
  font-size: 1vw;
  /* padding: 14px 20px; */
  padding: 0px 1vw;
}
.button {
  margin-top: 2vh;
  width: 26vw;
  height: 6vh;
  border-radius: 8px;
  border: 1px solid #ECD55A;
  background-color: #ECD55A;
  color: black;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.logo {
  margin-top:100px;
  width: 20vw;
  transition: all 0.3s ease;
}
.logo:hover{
  margin-top:100px;
  width: 20.5vw;
  cursor: pointer;
}
.word1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  color: #fff;
}
.button:hover{
  background:none;
  color:#fff;
  box-shadow: 0px 0px 20px 0px #b1a043;
   width: 26vw;
  height: 6vh;

}
.word2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  color:#fff
}
.word3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  margin-left: 5px;
}
.button02:hover{
  background-color:black;
  color:#fff;
}
.word4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  margin-top: 6px;
  margin-left: -5px;
}
.button02 {
  width: 17vw;
  height: 5vh;
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px grey;
  border: 1px solid #fff;
  border-radius: 40px;
  margin-top: 8%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button03 {
  width: 17vw;
  height: 5vh;
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px grey;
  border: 1px solid #fff;
  border-radius: 40px;
  margin-top: 8%;
  cursor: pointer;
}
.google {
  width: 2vw;
  margin-left: -10px;
}
.facebook {
  width: 3vw;
  margin-left: 0px;
}
.idk {
  color: grey;
  margin-top: 1vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
}
.idk2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  color: grey;
  margin-top: 2vh;
  margin-left: -250px;
  cursor: pointer;
}
#loader {
  visibility: hidden;
  color: gold;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
  0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  }
  @keyframes load6 {
  0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  }
  @-webkit-keyframes round {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
  }
  @keyframes round {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
  }
