body {
  margin: 0;
  background-color: #fff;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#login_password {
  width: 24vw;
  height: 6vh;
  margin-top: 4vh;
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(239, 240, 246, 1);
  font-size: 1vw;
  /* padding: 14px 20px; */
  padding: 0px 1vw;
}
#login_email {
  width: 24vw;
  height: 6vh;
  margin-top: 4vh;
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(239, 240, 246, 1);
  font-size: 1vw;
  /* padding: 14px 20px; */
  padding: 0px 1vw;
}
.button {
  margin-top: 2vh;
  width: 26vw;
  height: 6vh;
  border-radius: 8px;
  border: 1px solid rgba(75, 165, 84, 1);
  background-color: rgba(75, 165, 84, 1);
  color: #fff;
  font-size: 1vw;
  cursor: pointer;
}
.logo {
  margin-top: 5vh;
  width: 20vw;
}
.word {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
}
.button02 {
  width: 17vw;
  height: 5vh;
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px grey;
  border: 1px solid #fff;
  border-radius: 40px;
  margin-top: 8%;
  cursor: pointer;
}
.button03 {
  width: 17vw;
  height: 5vh;
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px grey;
  border: 1px solid #fff;
  border-radius: 40px;
  margin-top: 8%;
  cursor: pointer;
}
.google {
  width: 2vw;
  margin-left: 0;
}
.facebook {
  width: 4vw;
  margin-left: 0;
}
.idk {
  color: grey;
  margin-top: 1vh;
}
