body {
  margin: 0;
  background-image:url("https://firebasestorage.googleapis.com/v0/b/higherlowergame-176e9.appspot.com/o/bg%2FHome_page_2.png?alt=media&token=0a479541-9284-46aa-a293-a1bf58343514");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo:hover{
  width:21vw;
  cursor: pointer;
}
.row1 {
  display: flex;
  flex-direction: row;
}
#signup_password {
  width: 24vw;
  height: 6vh;
  margin-top: 4vh;
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(239, 240, 246, 1);
  font-size: 1vw;
  padding: 0px 1vw;
}
#signup_email {
  width: 24vw;
  height: 6vh;
  margin-top: 4vh;
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(239, 240, 246, 1);
  font-size: 1vw;
  padding: 0px 1vw;
}
.button {
  margin-top: 2vh;
  width: 26vw;
  height: 6vh;
  border-radius: 8px;
  border: 1px solid #ECD55A;
  background-color: #ECD55A;
  color: black;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  margin-top: 2vh;
  width: 26.5vw;
  height: 6.5vh;
  border-radius: 8px;
  border: 1px solid #ECD55A;
  background:none;
  color: white;
  font-size: 1vw;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px #b1a043;
  font-size: 22px;
}
.logo {
  margin-top: 8vh;
  width: 20vw;
  transition: all 0.3s ease;
}
.word1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  color:white;
}
.word2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
}
.word3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  margin-left: 5px;
}
.word4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  margin-top: 6px;
  margin-left: -5px;
}
.button02 {
  width: 17vw;
  height: 5vh;
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px grey;
  border: 1px solid #fff;
  border-radius: 40px;
  margin-top: 8%;
  cursor: pointer;
}
.button03 {
  width: 17vw;
  height: 5vh;
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px grey;
  border: 1px solid #fff;
  border-radius: 40px;
  margin-top: 8%;
  cursor: pointer;
}
.google {
  width: 2vw;
  margin-left: -10px;
}
.facebook {
  width: 3vw;
  margin-left: 0px;
}
.idk {
  color: white;
  margin-top: 1vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  
}
.idk2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  color: grey;
  margin-top: 2vh;
  margin-left: -250px;
  cursor: pointer;
}