body {
  margin: 0;
  background-image:url("https://firebasestorage.googleapis.com/v0/b/higherlowergame-176e9.appspot.com/o/bg%2FHome_page_2.png?alt=media&token=0a479541-9284-46aa-a293-a1bf58343514");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background-size: 100% 100%;
}

.genre_list_anim {
  display: flex;
  width: 158px;
  margin-bottom: -172px;
  transition: none;
  animation-name: genre_list_animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
ul {
  flex-direction: column;
  
 
 

}
.title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
  margin-top: 30px;
}
.arrow {
  margin-top: 3.8vh;
  margin-left: 5.5vw;
  cursor: pointer;
  width: 2.9vw;
  height: 2.9vh;
}
.container {
  display: flex;
  flex-direction: row;
}
.left-container {
  width: 50vw;
  height: 100vh;
  align-items: center;
}
.right-container {
  width: 50vw;
  height: 100vh;
  align-items: center;
}
.roomid-st {
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin-top: 20px;
}
.genre-st {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex {
  display: flex;
  border-left-color: gold;
  border-right-color: gold;
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: solid;
  border-right-style: solid ;
  justify-content: center;
  align-items: center;
    height:250px;
    width:200px;
    /* margin:0 auto; */
    box-shadow: -60px 0px 100px -90px #b1a043, 60px 0px 100px -90px #b1a043;


}
.classic {
  width: 200px;
  height: 60px;
  background-color: #ecd55a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 0px 30px 0px #b1a043;
  transition: all 0.3s ease;
}
@keyframes genre_list_animation {
  0% {
    transform: translateY(-170px);
  }
  100% {
    transform: translateY(0);
  }
}
.genre {
  width: 200px;
  height: 60px;
  background-color: #ecd55a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ecd55a;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 0px 20px 0px #b1a043;
  transition: all 0.3s ease;
}
.roomid {
  border-bottom: 4px gold solid;
  color: white;
}
.title-2 {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 5vw;
  color: white;
  margin-top: 50px;
}
.buttons {
  width: 50vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.four {
  width: 180px;
  height: 40px;
  background: none;
  border: 0px;
  font-size: 20px;
  color: white;
  list-style-type: none;
  transition: all 0.3s ease;
}
.chosen_style {

  border:4px black solid;
}

/* .container {
  background: radial-gradient(#353c44, #222931);
  font-family: Arial, Helvetica, sans-serif;
} */
.classic:hover {
  cursor: pointer;
}
.genre:hover {
  cursor: pointer;
}
.four:hover {
  cursor: pointer;
}
.none {
  visibility: hidden;
}
.players {
  width: 50vw;
  height: 60vh;
  border-left: 4px gold solid;
}
.start {
  width: 50vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-button {
  width: 220px;
  height: 57px;
  background-color: #ecd55a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 33px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ecd55a;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px #ecd55a;
}
.players {
  /* width: 50vw; */
  height: 60vh;
  border-left: 4px gold solid;
  margin-top: 10vh;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.playersID {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  margin-bottom: 15px;
}
.playersID2 {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  margin-bottom: 15px;
}
.playersID3 {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  margin-bottom: 15px;
}
.playersID4 {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  margin-bottom: 15px;
}
.playersID5 {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  margin-bottom: 15px;
}
.playersID6 {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  margin-bottom: 15px;
}
.boorder {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.missil {
  height: 6vh;
  width: 4vw;
  background-color: #fff;
  border-radius: 0% 30px 30px 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#namefield {
  width: 120px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: gold;
  font-size: 20px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}
.borderSborder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
